/* -- OVERALL APP STYLING -- */
/* @import url("https://use.typekit.net/jgb2gqn.css"); */
/* This was causing really bad loading */

* {
  font-family: caslons-egyptian, sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1, h2, h3, h4 {
  /* letter-spacing: -2px; */
  font-weight: bold;
  color: black;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 900;
  text-align: center;
  margin: 1em 0;
}

p, li {
  font-weight: lighter;
  font-size: 1em;
  margin: 10px 0;
}

/* -- Homepage Styling -- */
p.splashText {
  text-align: center;
  font-size: 1.15em;
}

i {
  color: #ccc;
}

/* -- Sentence Results Styling -- */

.documentTones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.container {
  box-sizing: border-box;
  max-width: 800px;
  width: 90%;
  min-width: 300px;
  margin-bottom: 2em;
}

.SentenceResults span {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: 1em;
}

/* Begin styling for sentence results buttons */
.toneToggleButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.toneToggleButtons:hover {
  cursor: pointer;
}

.toggleButton {
  text-align: center;
  font-weight: bold;
  border-radius: 60px;
  background-color: #ebf0f1;
  padding:  .6em;
  min-width: 80px;
  margin: 1em;
}

.docTones {
  background-color: #f7f7f7;
  margin: 2em;
  padding: .6em;
  border-radius: 60px;
}

.docTonesText {
  font-weight: bold;
}

.highlighted span {
  color: #FFF;
  font-weight: bold;
  padding: .25em;
}

.Analytical, .highlighted.analytical span {
  color: rgb(0, 180, 84);
}

.highlighted.analytical span {
  background: linear-gradient(#e2ffed, #cbffcb, #e2ffed);
}

.Confident, .highlighted.confident span, .confident {
  color: rgb(255, 166, 22);
}

.highlighted.confident span {
  background: linear-gradient(#FFF2E2, #FFE8CB, #FFF2E2);
}

.Joy, .highlighted.joy span, .joy {
  color: #FFCB21;
}

.highlighted.joy span {
  background: linear-gradient(#FFF9E7, #FDF1CA, #FFF9E7);
}

.Fear, .highlighted.sadness span, .fear {
  color: #7821FF;
}

.highlighted.sadness span {
  background: linear-gradient(#F4E6FF, #EDCBFE, #F4E6FF);
}

.Anger, .highlighted.anger span, .anger {
  color: #ff004c;
}

.highlighted.anger span {
  background: linear-gradient(#FFEDF1, #FFD6DE, #FFEDF1);
}

.Sadness, .highlighted.sadness span, .sadness {
  color: #06aff8;
}

.highlighted.sadness span {
  background: linear-gradient(#d6eff8, #c7e6f3, #d6eff8);
}

.Tentative, .highlighted.tentative span, .tentative {
  background-color: #969696;
}

.highlighted.tentative span {
  background: linear-gradient(#f8f8f8, #ebebeb, #f8f8f8);
}

div.toggleButton:hover {
  opacity: 0.75;
}

.SentenceResults {
  width: 100%;
  background-color: #f7f7f7;
  border-top: 1px solid rgb(226, 230, 231);
  border-bottom: 1px solid #e2e6e7;
  line-height: 1.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

hr {
  border: none;
}

/* -- Button Layout For Mid-Size Screens -- */
@media only screen and (max-width: 510px) and (min-width:420px) {
  .toggleButton {
    margin: 0 2em 1em 0;
  }

  .toneToggleButtons {
    display: flex;
    justify-content: flex-start;
  }
}

/* -- Small Screen Text -- */
@media only screen and (max-width: 425px) {
  h1 {
    font-size: 1.5em;
    margin: 1em 0;
  }

  p.splashText {
    font-size: 1em;
  }

  p, span.returnSentence {
    font-size: 0.9em;
  }
}

.scoreInfo {
  display: none;
  position: absolute;
  top: 0;
  height: auto;
  min-width: 120px;
  text-align: center;
  z-index: 10;
  margin-left: 92%;
  box-shadow: 0px 4px 20px rgba(159, 160, 160, 0.2);
  background-color: white;
  padding: .6em;
  border: 1px solid rgb(198, 198, 202);
  border-radius: 40px;
}

/* Sentence Text on Click */
.sentenceText {
  position: relative;
  user-select: none;
}

.sentenceText:hover {
    cursor: pointer;
}

.sentenceText:active .scoreInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.5em;
}