/* -- OVERALL APP STYLING -- */
/* @import url("https://use.typekit.net/jgb2gqn.css"); */
/* This was causing really bad loading */

* {
  font-family: caslons-egyptian, sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1, h2, h3, h4 {
  /* letter-spacing: -2px; */
  font-weight: bold;
  color: black;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 900;
  text-align: center;
  margin: 1em 0;
}

p, li {
  font-weight: lighter;
  font-size: 1em;
  margin: 10px 0;
}

/* -- Homepage Styling -- */
p.splashText {
  text-align: center;
  font-size: 1.15em;
}

i {
  color: #ccc;
}

/* -- Sentence Results Styling -- */

.documentTones {
  display: flex;
  flex-direction: row;

}

.container {
  box-sizing: border-box;
  max-width: 800px;
  width: 90%;
  min-width: 300px;
  margin-bottom: 2em;
}

.SentenceResults span {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: 1em;
}

/* Begin styling for sentence results buttons */
.toneToggleButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.toneToggleButtons:hover {
  cursor: pointer;
}

.toggleButton {
  text-align: center;
  font-weight: bold;
  border-radius: 40px;
}

.highlighted span {
  color: #FFF;
  font-weight: bold;
  padding: .4em;
}

.Analytical, .highlighted.analytical span {
  color: #007F3B;
  background: linear-gradient(#e2ffed, #cbffcb);
}

.Confident, .highlighted.confident span {
  color: #F78B0B;
  background: linear-gradient(#FFF2E2, #FFE8CB);
}

.Joy, .highlighted.joy span {
  color: #FFCB21;
  background: linear-gradient(#FFF9E7, #FDF1CA);
}

.Fear, .highlighted.sadness span {
  color: #7821FF;
  background: linear-gradient(#F4E6FF, #EDCBFE);
}

.Anger, .highlighted.anger span {
  color: #ff004c;
  background: linear-gradient(#FFEDF1, #FFD6DE)
}

.Sadness, .highlighted.sadness span {
  color: #38AEE2;
  background: linear-gradient(#DFF3FB, #BBE3F4);
}

.Tentative, .highlighted.tentative span {
  background-color: #969696;
  background: linear-gradient(#f8f8f8, #ebebeb);
}

div.toggleButton:hover {
  opacity: 0.75;
}

.SentenceResults {
  width: 100%;
  background-color: #f7f7f7;
  border-top: 1px solid rgb(226, 230, 231);
  border-bottom: 1px solid rgb(226, 230, 231);
  line-height: 1.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

hr {
  border: none;
}

/* -- Button Layout For Mid-Size Screens -- */
@media only screen and (max-width: 510px) and (min-width:420px) {
  .toggleButton {
    margin: 0 2em 1em 0;
  }

  .toneToggleButtons {
    display: flex;
    justify-content: flex-start;
  }
}

/* -- Small Screen Text -- */
@media only screen and (max-width: 425px) {
  h1 {
    font-size: 1.5em;
    margin: 1em 0;
  }

  p.splashText {
    font-size: 1em;
  }

  p, span.returnSentence {
    font-size: 0.9em;
  }
}

/* Score pop-up styling */

.scoreInfo {
  display: none;
  position: absolute;
  height: auto;
  width: auto;
  z-index: 10;
  box-shadow: 0px 4px 20px rgb(159, 160, 160);
  font-weight: bold;
  padding: 1em;
  color: rgb(58, 58, 58);
  border: 1px solid rgb(198, 198, 202);
  border-radius: 40px;
  background-color: #FFF;
}

/* Sentence Text on Click */
.sentenceText {
  position: relative;
  user-select: none;
}

.sentenceText:hover {
    cursor: pointer;
}

.sentenceText:active .scoreInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.5em;
}