.button {
  position: relative;
  top: -6px;
  left: 4px;
  text-align: center;
  letter-spacing: -1px;
  font-size: 1.4em;
  font-weight: bold;
  width: auto;
  border-radius: 40px;
  padding: .5em;
}

.button-bg {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 40px;
}
