.Loader {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  from { opacity: 0; }
}

h1#loadingTitle {
  color: black;
  animation: fadeIn 1s infinite alternate;
}